<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.202" />
  <package id="FubuCore" version="0.9.8.129" />
  <package id="FubuLocalization" version="0.9.4.116" />
  <package id="FubuMVC.References" version="0.9.5.805" />
  <package id="HtmlTags" version="1.0.0.55" />
  <package id="IronRuby" version="1.1.3" />
  <package id="SassAndCoffee.Core" version="2.0.2.0" />
  <package id="SassAndCoffee.JavaScript" version="2.0.2.0" />
  <package id="structuremap" version="2.6.3" />
</packages>