<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>FubuMVC.AssetTransforms</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
    <string>FubuCore</string>
    <string>FubuMVC.References</string>
    <string>Bottles</string>
    <string>FubuLocalization</string>
    <string>FubuMVC.Spark</string>
    <string>FubuTestingSupport</string>
    <string>HtmlTags</string>
    <string>FubuKayak</string>
    <string>FubuMVC.TestingHarness</string>
    <string>Spark</string>
  </Floats>
</ripple>